.imageRe{
    position:absolute;
    left: 45%;
}
.imageRe img{
    width: 50px;
    height: 50px;
    animation: spin 1s  infinite  linear ;
}

@keyframes spin{
    from {
        transform: rotate(0deg);
    }
    to{
       transform: rotate(360deg);
    }
  }